/* Roboto normal */
.header{
    color:#F9FAF8;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display:flex;
    justify-content: space-between;
}
/* Roboto bold */
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
/* Roboto italic */
.roboto-italic {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display:flex;
    align-items: center;
    gap:16px;
}
a {
    text-decoration: none;
    color:white;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.header, .hero {
    padding-left:200px;
    padding-right:200px;
    margin: 0;
    background-color: #1F2937;
}
.hero {
    padding-top: 100px;
    padding-bottom: 100px;
    display:flex;
    flex: 1;
    justify-content: space-between;
}
.hero .container{
    width:500px;
    height:auto;
}
.hero h1 {
    color:#F9FAF8;
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0;
}
p{
    margin:0;
}
.hero p {
    color:#F9FAF8;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
img {
    height: 260px;
    width: 600px;
}
.sign-up {
    border-style: none;
    border-radius:8px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    padding: 8px 40px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.hero .sign-up {
    margin-top: 12px;
    color:#F9FAF8;
    background-color: #3882F6;
}

.random-info{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.random-info h2{
    font-size:36px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #1F2937;
    margin: 56px;
}
.cards .illustration {
    height: 170px;
    width: auto;
    border-radius: 20px;
    border-style:solid;
    border-width: 4px;
    border-color: #3882F6;
    margin-bottom: 8px;
}
.cards li {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align:center;
    color:#676F7B;
    margin:0;
    width:180px;
}
.cards {
    display: flex;
    gap:52px;
    margin-bottom: 120px;
}


.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 80px;
}
.quote .container{
    display: flex;
    margin: 0px;
    flex-direction: column;
    justify-content: end;
    height: auto;
    width: 800px;
}
.quote p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    font-size: 36px;
    color: #1F2937;
}

.quote h3{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    align-self: flex-end;
}

.call-action {
    display:flex;
    height: 200px;
    margin-top:120px;
    margin-bottom:120px;
    margin-left:270px;
    margin-right:250px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    color: #F9FAF8;
    gap:350px;
    
}
.call-action .container {
    display:flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    gap:2px;
}
.call-action .container p{
    color: #E5E7EB;
    font-size: 18px;;
}
.call-action .title {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 24px;
}
.call-action .sign-up{
    border-color: #F9FAF8;
    border-style: solid;
    background-color: #3882F6;
    color: #F9FAF8;
}
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    justify-content: center;
    align-items: center;
    padding: 50px;
}